/* THEMES */

.default-theme {
    background-color: #ffffff;
    color: #000000;
}
  
.blossom-theme {
    background-color: #DAA5A0;
    color: #FFFFFF;
}
.blossom-theme input{
    color: black;
}


/* Green theme */
  
.green-theme {
    background-color: #BBB9D6;
    color: #ffffff;
}

.green-theme input {
    color: black;
}

.green-theme .secondary {
    background-color: #726EAA;
}

.green-theme .tertiary {
    background-color: #B0AED0;
}

.green-theme .quarto {
    background-color: #3A3480;
}

.green-theme .secondary-text {
    color: #3A3480;
}

.green-theme .quinque {
    background-color: white;
}

.green-theme .limes {
    border: 3px solid black;
}

.green-theme .limes-some {
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
}

.green-theme .limes-main {
    border-left: 3px solid black;
    border-right: 3px solid black;
}

.green-theme .limes-some-right {
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-top: 3px solid black;
    border-right: none;
}

.green-theme .limes-hamburger {
    border-bottom: 3px solid black;
    border-left: none;
    border-top: none;
    border-right: none;
}

.green-theme .limes-bottom {
    border-bottom: 3px solid black;
}

.green-theme .limes-bottom-top {
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}

.green-theme .ater {
    color: black;
}

.green-theme .limes-search {
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-right: 3px solid black;
}

.green-theme form {
    background-color: #BBB9D6;
    border: 3px solid black;
}

.green-theme form input {
    outline: none;
    border: 3px solid black;
}


/* to hide modal button */
.modal-close-button {
    display: none;
}